.container {
    padding: 10px;
    border-radius: 20px;
    background-color: red;
    color: white;
}

.fivePoints {
    margin: 30px 10px 10px 10px;
}
.signUp {
    text-align: center;
    border: 1px solid white;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
}

.signUpLink {
    display: inline-block;
    color: white;
    text-decoration: none;
}

p {
    display: inline-block;
    margin-bottom: 0px;
}

b {
    margin-left: 6px;

}

.joinUsButton {
    font-size: 2.25rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
    background-color: #0000FF;
    text-decoration-line: none;
    border-radius: 25px;
    border: 3px solid white;
    padding: 0 40px;
    color: white;
    text-align: center;
}

.joinUsButton:hover {
    background-color: #0000E6;
}