.container> * {
      display: block;
      margin: 15px 0;
  }

.trafficImage {
    background-image: url('../../public/static/TrafficIlkey.jpg');
    background-size: contain;

}
.groveImage {
    margin-top: 20px;
}

@media (min-width: 600px) {
    .container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto 1fr 1fr;
        grid-gap: 10px;

    }
    .container> * {
        margin: 0;
    }

    .container {
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }

.climateActionIlkley {
    grid-column: 1;
    grid-row: span 3;
    padding: 10px;
}

.trafficImage {
    padding: auto;
    grid-column: 2 / 4;
    grid-row: 1;
    width: 100%;
    height: auto;
}



.neighbourhoodPlan {
    grid-column: 2;
    grid-row: 3;
    margin: 10px;
}

.townCouncil {
    grid-column: 2;
    grid-row: 2;
    margin: 10px;
    border-bottom: 1px solid black;
}

.weCanFixIt {
    margin: 10px;
    grid-row: span 2;
}

}