.container {
    height: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    background-color: white;
    border-radius: 20px;
    padding: 10px
}

.header {
    background-image: url('../../public/static/header.jpg');
    margin: 10px;
    width: 100%;
    background-size: cover;
}

