.container {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    color: black;

}

.container li {
    font-weight: 600;
    font-size: 24px;
}

.container li:first-child {
    color: #ED0000;
}
.container li:nth-child(2) {
    color: #57000E;
}
.container li:nth-child(3) {
    color: #78B5FF;
}
.container li:nth-child(4) {
    color: #2DD400;
}

.container li:nth-child(5) {
    color: #384DFF;
}
